.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  height: 40px;
  align-items: center;
}
.copyright {
  width: 100%;
  padding: 3px 0 3px 0;
  text-align: center;
}
.copyright p {
  font-size: 13px;
}
