.footer {
  margin-top: 200px;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #85a1cc;
  color: #212529;
}
.footer-heading {
  margin-top: 20px;
  color: #212529;
}
.container a {
  text-decoration: none;
  margin-left: 20px;
  color: #212529;
}
.icon {
  font-size: 20px;
  margin:0 15px;
  color: blue;  
}
.icon-ch {
  margin-left: 15px;
}
