body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  background-color: #fcfcfc;
  color: #1f1f1f;
}

.header-container {
  background-color: #001529;
  padding: 10px 15px;
}

.header-title {
  font-size: 25px;
  line-height: 1.447em;
  margin: 0px;
  color: rgba(248, 242, 242, 0.855);
}
.todo-container {
  width: 40%;
  border: 1px solid #678c89;
  position: relative;
}

.completed {
  font-style: italic;
  color: #c5e2d2;
  text-decoration: line-through;
}

.btn-style {
  background: #d35e0f;
  color: #fff;
  border: 1px solid #d35e0f;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  outline: none;
}

.form-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  border: #000;
}

.input-text {
  flex: 8;
  font-size: 14px;
  padding: 6px 15px;
  background-color: #FAFAFA;
  border: #000;
  color: #000;
  outline: none;
  font-weight: 400;
  width: 80%;
}

.input-text::placeholder {
  color: #000;
  opacity: 0.8;
}

.input-submit {
  width: 133px;
  background-color: #1890FF;
  height: 32px;
}

.todo-item {
  list-style: none;
  padding: 15px;
}

.todo-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  height: 18px;
  display: flex;
}

.todo {
  display: flex;
  flex-direction: row;
}