.header-title{
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  font-size: 53px;
}
<<<<<<< HEAD
.container {
  width: 68%;
=======
#container{
  height: 427px;
}


#login-container {
  width: 45%;
  position: relative;
  top: 44px;
  left: 434px;
  margin-bottom: 320px;
>>>>>>> 5daa72f52d9a6b9f77db1db947da392393599e16
}
#login-label {

  display: block;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}
<<<<<<< HEAD
.register_btn {
  width: 26%;
  position: relative;
  left: 327px;
=======
#register_btn {

  position: relative;
  left: 315px;
}
#login_btn{
  position: relative;
  left: 240px;
>>>>>>> 5daa72f52d9a6b9f77db1db947da392393599e16
}
.container{
  width: 100%;
}