.header-title {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  font-size: 53px;
}
.container {
  width: 68%;
}
#login-label {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: cursive;
}
.register_btn {
  width: 26%;
  position: relative;
  left: 327px;
}
