* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0e101c;
}
.register h1 {
  width: 100%;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form {
  background-color: #fcb5ac;
  padding: 10px;
  width: 400px;
  padding-top: 5px;
  margin: 10px 200px 10px 200px;
}
select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 200;
}
input[type="submit"] {
  position: relative;
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.5rem;
  transition: 0.3s all;
}
img {
  width: 50px;
  height: 50px;
}
.avatar{
    display: flex;
}
